In [1]:
class Student:
    def __init__(self):
        pass
    def show(self):
        print("Hello")

In [2]:
Pooja=Student()
Anika=Student()

In [3]:
Pooja.show()

Hello

In [4]:
Anika.show()

Hello

In [19]:
class Student:
    school_name = 'The British College'
    def __init__(self, id, name, address, phoneno):
        self.id=id
        self.name=name
        self.address=address
        self.phoneno=phoneno
    def show(self):
        print(self.id, self.name, self.address, self.phoneno)

In [20]:
s1=Student(1, 'Pooja', 'TBC','9860273691')

In [21]:
print(Student.school_name)
s1.show()

The British College
1 Pooja TBC 9860273691

In [23]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle Class')

In [24]:
class Car(Vehicle):
    def car_info(self):
        print('Inside Car Class')

In [25]:
car = Car()

In [26]:
car.Vehicle_info()
car.car_info()

Inside Vehicle Class
Inside Car Class

In [30]:
class Person:
    def person_info(self, name, age):
        print('Person Class--')
        print('Name:',name, 'Age:', age)
        
class Company:
    def company_info(self, company_name, location):
        print('Comapny Class--')
        print('Name:', company_name, 'location:', location)
        
class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Employee Class--')
        print('Salary:', salary, 'Skill:', skill)
        
emp=Employee()

emp.person_info('Pooja', 19)
emp.company_info('Apple', 'California')
emp.Employee_info(120000, 'Programming')

Person Class--
Name: Pooja Age: 19
Comapny Class--
Name: Apple location: California
Employee Class--
Salary: 120000 Skill: Programming