In [2]:
#default constructor
class Student:
  def __init__(self):
    pass

In [3]:
s1=Student()

In [8]:
class Student:
  def __init__(self,age,name):
    self.age=age
    self.name=name
  def display(self):
    print("age=",self.age, "name=",self.name)

In [7]:
s2=Student(19, 'Pooja')
s2.display()

19 Pooja

In [12]:
class Student:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display(self):
    print(self.name,self.age)

In [22]:
class Girls(Student):
  def __init__(self,makeup):
    self.makeup=makeup
  def disp(self):
    print(self.makeup)

In [23]:
g1=Girls('Rose','20')

TypeError: ignored

In [24]:
g1.display()

Rose 20